<h2><%= entity.pluralize() %></h2>
<% if records.size() == 0 %>
There are no changes for <%= entity.pluralize() %>.
<% else %>
<table>
	<tr><th/><th>Type</th><th>Id</th><th>Label</th><th>Type of change<th>Updated at</th></tr>
		<% records.each_index do |i| record = records[i] %>
			<% link_to_entity = link_to(id, :controller => entity.pluralize().downcase(), :action => :show, :id => id) %>
			<% link_to_remote_action = link_to_remote "Send online",
					:url => {:action => "update_outgoing", :records => [{:id => record[:id], :entity => record[:type], :method => {"Added" => :post, "Changed" => :put, "Deleted" => :delete}[record[:type_of_change]] }]},
					:failure => "alert('HTTP Error ' + request.status + '!')" %>
			<tr id="<%= record[:type] + record[:id].to_s %>">
				<td><%= link_to_remote_action %></td>
				<td><%= record[:type] %></td>
				<td><%= record[:id] %></td>
				<td><%= record[:label] %></td>
				<td><%= record[:type_of_change] %></td>
				<td><%= record[:updated_at] %></td>
       		</tr>
		<% end %>
</table>
<% end %>