<h1>Listing instrumentations</h1>

<table>
  <tr>
    <th>Id</th>
  <% for column in Instrumentation.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for instrumentation in @instrumentations %>
  <tr>
    <td><%=h instrumentation.id %></td>
  <% for column in Instrumentation.content_columns %>
    <td><%=h instrumentation.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => instrumentation %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => instrumentation %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => instrumentation }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @instrumentation_pages.current.previous } if @instrumentation_pages.current.previous %>
<%= link_to 'Next page', { :page => @instrumentation_pages.current.next } if @instrumentation_pages.current.next %> 

<br />

<%= link_to 'New instrumentation', :action => 'new' %>
