<p>
  <b>Id :</b> <%=h @instrumentation.id %>
</p>


<% for column in Instrumentation.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @instrumentation.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @instrumentation %> |
<%= link_to 'Back', :action => 'list' %>
