<div id="nav">
  <ul>
    <li>
      <a href="/">Home</a> &nbsp; | &nbsp;
    </li>
    <%if admin?%>
      <li>
        <a href="" rel="admin_menu">Administration</a> &nbsp; | &nbsp;
      </li>
    <% end %>
    <li>
      <a href="" rel="search_menu">Search</a> &nbsp; | &nbsp;
    </li>
    <li>
      <a href="" rel="info_menu">Info</a> &nbsp; | &nbsp;
    </li>
    <%if logged_in?%>
      <li><%= link_to 'Log out', sessions_path, method: :delete %></li>
    <%else%>
      <li><%= link_to 'Log in', new_session_path %></li>
    <%end%>
  </ul>
</div>

<div id="info_menu" class="dropmenudiv">
  <%= link_to 'How to Use', how_to_use_info_path %>
  <%= link_to 'About this Catalog', about_info_path %>
  <%= link_to 'About Bruce', about_bruce_info_path %>
  <%= link_to 'About Peter', about_peter_info_path %>
  <%= link_to 'About Jens', about_jens_info_path %>
  <%= link_to 'Contact', contact_info_path %>
</div>

<script type="text/javascript">
  <%= case controller.class.to_s
    when 'MainController' 
      'tabdropdown.init("nav", 0)'.html_safe
    when /Admin::[A-Z]*/
      'tabdropdown.init("nav", 1)'.html_safe
    when 'SearchController' 
      "tabdropdown.init('nav', 1 + #{logged_in? ? 1 : 0})".html_safe
    when 'InfoController'
      "tabdropdown.init('nav', 2 + #{logged_in? ? 1 : 0})".html_safe
    else
      'tabdropdown.init("nav")'.html_safe
  end %>
</script>
