<!DOCTYPE html>
<html>
<head>
  <title>Haynes catalog<%= " - " + @title if @title%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="verify-v1" content="OeO2P9h75k//c5QNlcRrEecwQIrTzrwr/jCGrOeDX6M=" />
</head>
<body class="help">
	<div class="commands"><a href="javascript:window.close()">Close help</a></div>
	<%= yield  %>
</body>
</html>